<!DOCTYPE html>
<head>


</head>
<body>
<h1 style="color:Gold;display: inline;">Winner</h1>
<h1 style="color:Brown;display: inline;">Loser</h1>

<ul>
    {% for boxer in boxers %}
    <li>

        <span >
            <a style="color:Gold;" href="/fighters/{{boxer.winner.name}}">{{ boxer.winner.name|e }}</a>
        </span>
        <span >
            <a style="color:Brown"  href="/fighters/{{boxer.loser.name}}">{{ boxer.loser.name|e }}</a>
        </span>

         <iframe width="560" height="315" src="https://www.youtube.com/embed/{{boxer.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



    </li>
    {% endfor %}


</ul>


<ul>
    {% for boxer in boxers %}
    <li>

        <span >
            <a style="color:Gold;" href="/fighters/{{boxer.winner.name}}">{{ boxer.winner.name|e }}</a>
        </span>
        <span >
            <a style="color:Brown"  href="/fighters/{{boxer.loser.name}}">{{ boxer.loser.name|e }}</a>
        </span>

         <iframe width="560" height="315" src="https://www.youtube.com/embed/{{boxer.video}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



    </li>
    {% endfor %}


</ul>

</body>
</html>